.main {
    min-height: 100vh;
    height: auto;
    background: -webkit-linear-gradient(to bottom, #4B79A1, #283E51);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4B79A1, #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    gap: 3rem;
    color: whitesmoke;
    padding: 3rem;
}